version: '2'
services:
  db:
    image: postgres
    volumes:
      - postgres-data:/var/lib/postgresql/data
    environment:
        POSTGRES_PASSWORD: secret
        POSTGRES_USER: docker
  web:
    build: .
    command: npm start
    volumes:
      - ./:/src
    ports:
      - "3005:3005"
    depends_on:
      - db
volumes:
  postgres-data:
    driver: local